---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getAllPosts } from "../lib/api";

const posts = await getAllPosts();
---

<Layout title="Finiam's blog">
  <main class="grid">
    {posts.map((post) => <Card {...post} />)}
  </main>
</Layout>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }
</style>
