---
export type Props = SanityPostPreview;

const { slug, title, featuredImage, featuredImageAlt } = Astro.props;
---

<a href={slug.current} class="card">
  <figure class="card-img">
    <img src={featuredImage.asset.url} alt={featuredImageAlt} loading="lazy" />
  </figure>
  <h2>
    {title}
  </h2>
</a>

<style>
  .card {
    text-decoration: none;
  }
  .card-img {
    margin: 0 0 1em;
    height: 300px;
    overflow: hidden;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  h2 {
  }
</style>
