<header>
  <a href="/">
    <h1 class="logo">Finiam's blog (but with Astro 🚀)</h1>
  </a>
  <nav>
    <a href="https://finiam.com/about"> About</a>
    <a href="https://finiam.com/work"> Work</a>
    <a href="https://finiam.homerun.co/">We're hiring</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
  }
  a {
    text-decoration: none;
  }
  .logo {
    font-size: 1.5em;
  }
  nav {
    min-width: 200px;
  }
  nav a {
    margin-left: 0.5em;
  }
</style>
