<header>
  <a href="/">
    <h1>Finiam's blog (but Astro)</h1>
  </a>
  <nav>
    <a href="https://finiam.com/about"> About</a>
    <a href="https://finiam.com/work"> Work</a>
    <a href="https://finiam.homerun.co/">We're hiring</a>
  </nav>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
  }
  nav a {
    margin-left: 0.5em;
  }
</style>
